<div class=" home text-center d-flex justify-content-center align-items-center flex-column">
  <div class="img p-5 w-25">
    <img class="w-75" src="/avataaars.svg" alt="img">
  </div>
  <div class=" pb-5 text-white">
    <h2 class="text-uppercase fw-bold fs-1">start Framework </h2>
    <div class="d-flex justify-content-center align-items-center my-4">
      <div class="line-right"></div>
      <i class="fa-solid fa-star mx-3"></i>
      <div class="line-right"></div>
    </div>
    <span class="fw-bold fs-6">Graphic Artist - Web Designer - Illustrator</span>
  </div>
</div>


