<div class="">
  <h2 class="text-center mt-5 text-uppercase fs-1 fw-bold">conatct section</h2>
  <div class="d-flex justify-content-center align-items-center ">
    <div class="line-right"></div>
    <i class="fa-solid fa-star mx-3"></i>
    <div class="line-right"></div>
  </div>
  <div class="container d-flex justify-content-center align-items-center flex-column pb-5">
    <div class="d-flex flex-column align-items-center w-75">
      <input class=" w-75 p-3 border-bottom border-0 mb-3" type="text" placeholder="userName">
      <input class=" w-75 p-3 border-bottom border-0 mb-3" type="number" placeholder="userAge">
      <input class=" w-75 p-3 border-bottom border-0 mb-3" type="email" placeholder="userEmail">
      <input class=" w-75 p-3 border-bottom border-0 mb-3" type="password" placeholder="userPassword">
      <div class="align-self-start ms-5 w-50 mt-5">
        <button class="text-white border-0 bg-success p-3 rounded rounded-3">send Message</button>
      </div>
    </div>





  </div>
</div>
