<div class="footer p-5 text-white">
  <div class="container ">
    <div class="row">
      <div class="col-lg-4">
       <div class="d-flex flex-column">
        <h2>Location</h2>
        <span>2215 John Daniel Drive</span>
        <span>Clark, MO 65243</span>
       </div>
      </div>
      <div class="col-lg-4">
       <div class="d-flex flex-column">
        <h2>AROUND THE WEB</h2>
        <div class=" d-flex">
          <div class=" border border-2 rounded-circle p-2 me-3">
            <i class="fa-brands fa-facebook fs-3"></i>
          </div>
          <div class="border border-2 rounded-circle p-2 me-3">
            <i class="fa-brands fa-twitter fs-3"></i>
          </div>
          <div class="border border-2 rounded-circle p-2 me-3">
            <i class="fa-brands fa-linkedin-in fs-3"></i>
          </div>
          <div class="border border-2 rounded-circle p-2 me-3">
            <i class="fa-solid fa-globe fs-3"></i>
          </div>
        </div>

       </div>
      </div>
      <div class="col-lg-4">
       <div class="d-flex flex-column">
        <h2>ABOUT FREELANCER</h2>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
       </div>
      </div>
    </div>
  </div>
</div>

