<h2 class="text-uppercase fs-1 fw-bold text-center mt-3 portfolio">portfolio component</h2>
<div class="d-flex justify-content-center align-items-center ">
  <div class="line-right"></div>
  <i class="fa-solid fa-star mx-3"></i>
  <div class="line-right"></div>
</div>
<div class=" container p-5">
  <div class="row g-5 ">
    <div class="col-4">
      <div class="position-relative img-contain">
        <img class="w-100 rounded rounded-2 position-relative" src="/poert1.png" alt="port">
        <div class="hvr d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="position-relative img-contain">
        <img class="w-100 rounded rounded-2" src="/port2.png" alt="port">
        <div class="hvr d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="position-relative img-contain">
        <img class="w-100 rounded rounded-2" src="/port3.png" alt="port">
        <div class="hvr d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-5 mt-3 ">
    <div class="col-4">
      <div class="position-relative img-contain">
        <img class="w-100 rounded rounded-2 position-relative" src="/poert1.png" alt="port">
        <div class="hvr d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="position-relative img-contain">
        <img class="w-100 rounded rounded-2" src="/port2.png" alt="port">
        <div class="hvr d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="position-relative img-contain">
        <img class="w-100 rounded rounded-2" src="/port3.png" alt="port">
        <div class="hvr d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
  </div>



</div>
